#Button {
  background: #ed8f13;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
}
#countertext {
  font-family: 'DynaPuff', cursive;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  disply: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ffd924;
  animation: typing 2.5s steps(20,end), blink 0.7s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
#Button:hover {
  background: #c26e00;
}  
#flowers {
  left: 50%;
}