#Button {
  background: #ed8f13;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
}
#countertext {
  font-family: 'DynaPuff', cursive;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 1s ease forward;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
#Button:hover {
  background: #c26e00;
}  
#flowers {
  left: 50%;
}
